<div class="employee_form">
  <% if @notification.errors.present? %>
    <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @notification do |f| %>
    <%= f.hidden_field :employee_id, value: current_user.id %>
    <div class="form_group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, placeholder: "タイトルを入力してください", class: "title" %>
    </div>
    <div class="form_group">
      <%= f.text_area :content, placeholder: "お知らせ内容を入力してください", size: "80x20" %>
    </div>
    <div class="form_group">
      <%= f.submit "保存" %>
    </div>
  <% end %>
  <%= link_to 'Back', notifications_path %>
</div>
