<div class="employee_form">
  <% if @notification.errors.present? %>
    <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <h1>New Notification</h1>
    <%= link_to 'Back', notifications_path %>
  </div>

  <div class="contents row">
    <div class="container">
      <%= form_with model: @notification do |f| %>
        <%= f.hidden_field :employee_id, value: current_user.id %>
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, placeholder: "タイトルを入力してください" %>
        <%= f.text_area :content, placeholder: "お知らせ内容を入力してください", rows: "10" %>
        <%= f.submit "保存" %>
      <% end %>
    </div>
  </div>
</div>
